@font-face {
    font-family: 'Obake FREE VER.';
    src: url('Obake-FREE-VER.woff2') format('woff2'),
        url('Obake-FREE-VER.woff') format('woffs');
    font-weight: normal;
    font-style: normal;
}
